<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.1/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.1.1/material.min.js"></script>
</head>
<body bgcolor="#ddf6f9">
<table width="100%">
    <tr>
    <td align="center">
        <form method="get">
            <input type="submit" value="Refresh"
                   class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
                   formaction="/home">
        </form>
        <form>
            <div>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="text-align: center;">
                    <input class="mdl-textfield__input" type="text" id="path" name="path">
                    <label class="mdl-textfield__label" for="path">Type path to file to discover list of items</label>
                </div>
                <button class="mdl-button mdl-js-button mdl-button--primary" formmethod="post">
                    <i class="material-icons">search</i>
                    Submit
                </button>
            </div>
        </form>
        <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp" width="400"></table>
        <h5>${error}</h5>
</table>

</body>
</html>